h1{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#game-form{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
#number-tracker{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#results-box{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#rules{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}