h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;    /*these first few styles are written just to overwrite default styles*/
    line-height: 60px;
}
h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    margin:0px;
}
body {
    background-color: #3B3B3B;
    margin: 0px;
}
input {
    margin: auto;
}

.header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    min-height: 40px;
    height: auto;
    padding-top: 0.5%;
    background-color: #1E1E1E;
    color: #D5D5D5;
    margin-bottom: 2%;
}
#game-form{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 2% 2% 2% 2%;
}
.game-area{
    background-color: #6e6e6e;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 2%;
}
#number-tracker{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #6e6e6e;
    color: #D5D5D5;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    padding: 5px 0;
}
#results-box{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6e6e6e;
    color: #D5D5D5;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    margin-bottom: 2%;
}
#rules{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6e6e6e;
    color: #D5D5D5;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding-bottom:5px ;
}

.circle {
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #0E0E0E;
    color: #898989;
    border-radius: 100%;
    font-size : 90%;
}

input[type='radio']:checked ~ label div {    /*modified this code: https://www.codegrepper.com/code-examples/whatever/how+to+change+color+of+a+radio+button*/
    color: white;                          /*gives the text associated with a button a different color when the button is checked*/
}

#go-button {
    display: inline-block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background-color: #0E0E0E;   /*this button and the one below both exist to replace a HTML button*/
    color: #FF00C3;
    border-radius: 10px;
}

#reset-button {
    display: inline-block;
    width: 60%;
    height: 40px;
    line-height: 40px;
    background-color: #0E0E0E;
    color:white;
    border-radius: 10px;
}

.input-button {
    display: none;                 /*hides the default button so my replacements take its place*/
}

#rock-label {
    margin: auto;
}
#paper-label {
    margin: auto;
    display: inline-block;
}
#scissors-label {
    margin: auto;
    display: inline-block;
}
#lizard-label {
    margin: auto;
    display: inline-block;
}
#spock-label {
    margin: auto;
    display: inline-block;
}
#stopper {
    width: max-content;
}
.choice-container{
    display: inline-block;
    width: 35%;
}

#score {
    color: #1FFF00;
}

#high-score {
    color: #0002FF;
}

#difficulty-tracker {
    color: #FFB400;
}

#rules-text{
    font-weight: bold;
}